.steps__box-small {
  width: 159px;
  line-height: 34px;
  margin-top: 55px;

  p.first {
    font-size: 19px;

    &-change {
      margin-top: -15px;
    }
  }

  p.second {
    font-size: 15px;
  }
}