.Form__steps-step {
  position: absolute;
  height: 600px;
  width: 700px;
  top: 20px;
  left: 75px;
  text-align: left;
  line-height: 60px;
  font-size: 20px;

  &--btns {
    display: block;
    margin-top: 20px;

    button {
      margin-right: 20px;

    }
  }

  &--box {
    height: 450px;
    width: 900px;
    display: flex;

    .smallBox {
      font-size: 17px;
      line-height: 70px;
      margin-top: 90px;

      .position-box {
        display:flex;
        justify-content: flex-end;

        p {
          display:inline-block;
        }

        input {
          font-size: 17px;
          background: transparent;
          border: 1px solid black;
          height: 45px;
          width: 235px;
          margin-left: 20px;
        }

        .message {
          height: 115px;
        }
      }
    }
  }
}