.footer {
  background-image: url("img/footer_bg_img.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 955px;
  position: relative;

  &__form {
    position: absolute;
    top: 135px;
    left: 1100px;
  }

  &__nav {
    position: absolute;
    top: 875px;
    left: 1360px;

    &-menu {
      list-style-type: none;

      .copyright {
        position: absolute;
        top: 25px;
        right: 260px;
        font-size: 20px;
        width: 300px;
      }

      .icons {
        display: flex;
        justify-content: space-between;
        position: absolute;
        left: 220px;
        width: 110px;
      }

    }
  }
}

